---
name: designer-news
url: /
animationIn: hingeInFromLeft
---

<div class="grid-block medium-order-2" ui-view>
  <div zf-panel position="left" id="info" class="large-3 large-grid-content">
    <div class="grid-content">
      <h1>Designer News</h1>
      <p>This is a test, a simple sample test</p>
    </div>
  </div>
  <div class="small-12 large-9 grid-content">
    <div class="grid-block small-up-1 medium-up-2 large-up-3">
      <div class="grid-content">
        <div class="card">
          <div class="card-selection">
            <h4>Awesome Title - Fun Time!</h4>
            <p>This is a really great article with fun time!</p>
          </div>
        </div>
      </div>
      <!-- more cards -->
  </div>
</div>
</div>
